<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameid %><br>
    <%= f.text_field :gameid %>
  </div>
  <div class="field">
    <%= f.label :user1 %><br>
    <%= f.text_field :user1 %>
  </div>
  <div class="field">
    <%= f.label :user1progress %><br>
    <%= f.number_field :user1progress %>
  </div>
  <div class="field">
    <%= f.label :user2 %><br>
    <%= f.text_field :user2 %>
  </div>
  <div class="field">
    <%= f.label :user2progress %><br>
    <%= f.number_field :user2progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
