<p>
  <strong>Game name:</strong>
  <%= @current_game.gameid %>
</p>

<p>
  <strong>User1:</strong>
  <%= @current_game.user1 %>
</p>

<p>
  <strong>User1progress:</strong>
  <%= @current_game.user1progress %>
</p>

<p>
  <strong>User2:</strong>
  <%= @current_game.user2 %>
</p>

<p>
  <strong>User2progress:</strong>
  <%= @current_game.user2progress %>
</p>
