<p>
  <strong>Game name:</strong>
  <%= @current_game.gameid %>
</p>

<p>
  <strong>User1:</strong>
  <%= @current_game.user1 %>
</p>

<p>
  <strong>User1progress:</strong>
  <%= image_tag "progress" + @current_game.user1progress.to_s %>
</p>

<p>
  <strong>User2:</strong>
  <%= @current_game.user2 %>
</p>

<p>
  <strong>User2progress:</strong>
   <%= image_tag "progress" + @current_game.user2progress.to_s %>
</p>
