<h1>Race Page</h1>
<% if authenticate_user %>
	<% if in_game %>	
		<% if in_full_game %>
			<div class="game"> <%= render partial: 'show' %> </div>
			
			<%= form_tag(:action => 'submit_answer') do %>
			
				<p><%= @f %> <%= @m %> <%= @s %></p>
				<%= hidden_field_tag :f, @f %>
				<%= hidden_field_tag :s, @s %>
				<%= hidden_field_tag :m, @m %>
				<%= @correctanswer %>
				<p>Answer:</br> <%= text_field_tag :answer %></p> 
				<p><%= submit_tag("Submit") %></p>
			<% end %>
						
		<% else %>
		<p>Current Game: <%= @current_game.gameid %></p>
		<% end %>

		<%= link_to 'Leave Game', {:action => :leave, :controller => "games", :id => session[:game_id]} %> | 
		
	<% else %>
		<p>Open games:</p>
		<% @opengames.each do |game| %>
			<p>Name: <%= game.gameid %>. User: <%= game.user1 %>. </p>
			<p><%= link_to 'Join Game', {:action => :join, :id => game.id } %></p>
			
			
			
		<%end%>
		
<%= link_to 'New Game', new_game_path %>  | 
	<% end %>
<% else %>
	<P>Please log in to play.</P>
<%end%>
<%= link_to 'Back', pages_path %>
<script>
var answer_box = document.getElementById('answer');
if(answer_box) answer_box.focus();
</script>

