<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<title>Math Racer</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<%# Page header%>
        <div class="header-container">
            <header class="wrapper clearfix">
			
			    <%# Div for picture for file drag and drop%>
				<div id="holder"></div> 
				
				<%# Title and make it a link to the index page%>
                <h1><span class="titlecolor"><%= link_to 'Math Racer', root_url, :class => "title" %></span></h1>
				
				<%# Nav with links to various different pages%>
				<nav>
                    <ul>
						<li><%= link_to 'Users', users_path %></li>
						<li><%= link_to 'Games', games_path %></li>
						<% if logged_out %>
							<li><%= link_to 'Login', '/login' %></li>
							<li><%= link_to 'Register', '/register' %></li>
						<% else %>
							<li><%= link_to 'Profile', edit_user_path(session[:user_id]) %></li>
							<li><%= link_to 'Play', games_path %></li>
							<li><%= link_to 'Logout', logout_users_url %></li>
						<% end %>

                    </ul>
                </nav>
            </header>
        </div>
		<div class="main-container">
        <div class="main wrapper clearfix">
		
		<%# Show any flash messages from actions on previous page%>
		<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg.html_safe, class: name %>
		<% end -%>
		<%= yield %>
		
            </div> <!-- #main -->
        </div> <!-- #main-container -->

		<%# Page footer%>
        <div class="footer-container">
            <footer class="wrapper">
                <h3>Brought to you by Red Hats</h3>
            </footer>
        </div>
    </body>
	
	<script>
	    <%# Make the picture method happen on load %>
		document.onload = getPic();
		
		<%# Grab the div to put the image in %>
		var holder = document.getElementById("holder"),
		state = document.getElementById("status");
			 			
		<%# Deal with drag over and drag end %>				
		holder.ondragover = function () { return false; };
		holder.ondragend = function () { return false; };

		<%# On drop%>
		holder.ondrop = function (e) {
		    <%# Prevent default action %>
			e.preventDefault();

			<%# Transfer the file%>
			var file = e.dataTransfer.files[0],
			reader = new FileReader();
				
		    <%# On loading the file, if web storage exists, store and display the image%>
			reader.onload = function (event) {
				if(typeof(Storage)!=="undefined"){
					localStorage.pic = "url(" + event.target.result + ")";
					holder.style.background = localStorage.pic;
					holder.style.backgroundRepeat="no-repeat";
					holder.style.backgroundSize="100%";
				}
			};
				
			reader.readAsDataURL(file);

			return false;
		};
			
	    <%# If web storage exists display the image%>
		function getPic() {
			if(typeof(Storage)!=="undefined"){
			var holder = document.getElementById("holder");
				holder.style.background = localStorage.pic;
				holder.style.backgroundRepeat="no-repeat";
				holder.style.backgroundSize="100%";
			}
		}
	</script>
		
</html>
